<div class="card mb-6">
  <img class="card-img-top" src="https://media.discordapp.net/attachments/805846981351964692/811275139287220244/Capture_decran_2021-02-16_a_17.37.12.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hello <%= current_user.email %></h5>
    <p class="card-text">On te souhaite la bienvenue dans ta page profil, tu ne pourras rien y vaire pour l'instant mais j'espère qu'elle te plait :)</p>
    <p class="card-text"><small class="text-muted">© Team Eventbrite</small></p>
  </div>
</div>
